/* PRINCIPAIS */
* {
    box-sizing: border-box;
  }

body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Barlow', sans-serif;
}

/* NAV BAR */

nav {
    background-color: #19535F;
    min-height: 15vh;
    text-transform: uppercase;
}

nav > div > a > img {
    width: 350px;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    text-decoration: none;
}

.navbar-dark .navbar-nav .nav-link:hover {
    background-color: #7b2d26;
    
}

/* FOOTER */

footer {
    background-color: #7b2d26;
    text-align: center;
}

footer .paragrafo{
    background-color: black;
    padding: 20px 0;
}

footer .paragrafo > p{
    color: darkslategray;
    font-size: 0.9rem;
}
footer .icones {
    padding: 30px;

}
footer .icones img{
    width: 35px;
    margin: 15px;
}

footer .links{
    padding: 30px;
}

footer .links ul  li {
    list-style: none;
    text-transform: uppercase;
    display: inline; 
    font-weight: bold;
    margin: 15px;
    padding-right: 30px;
    color: white;
    letter-spacing: 0.2em;
}

footer .contato {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    margin: 15px;
}

footer .contato p{
    color: white;
    text-decoration: none;
}

footer .contato p a{
    color: white;
    text-decoration: none;
}

footer .contato p a:hover{
    color: #7b2d26;
}

ul > li > a{
    color: white;
    text-decoration: none;
}

ul > li > a:hover{
    color: white;
    text-decoration: none;
}

/*--------------------------------------------
PÁGINA INDEX */

/* CAROUSEL */

.carousel-caption {
    text-align: left;
    padding-bottom: 70px;
}

.carousel-caption > p {
    font-family: 'Bree Serif', serif;
    font-size: 5em;
    max-width: 70%;
    line-height: 120%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.carousel-caption > a{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 800; 
}

.carousel-caption > .btn {
    background-color: #7b2d26;
    border-color: #7b2d26;
    border-radius: 2.25rem;
    padding: 0.9rem 4rem;
}

.main-title {
    text-align: center;
    text-transform: uppercase;
    color: white;
    padding-bottom: 2rem;
    font-family: 'Bree Serif', serif;
}

/* MISSÃO */

.missao {
    background-color: #86A873;
    padding: 150px 0;
}

/* VALORES */

.valores {
    background-color: #F0F3F5;
    padding: 150px 0;
}

/* CARDS */
 .home-card > p {
     text-align: center;
 }


.home-card {
    background-color: #0b7a75;
    padding: 50px 0 0 0;
}
.home-card > .container > .row {
    padding-bottom: 80px;
}

.home-card-itens {
    background-color: #0b7a75;
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    color: white;
    padding: 50px 0;
}

.home-card-itens > img {
    width: 80px;
    margin-left: 40%;
}

/* BOTÃO SUBIR */

.arrow-up {
    position: fixed;
    bottom: 80px;
    right: 20px;
    background: rgba(255, 255, 255, 0.5);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    border-radius: 35px;
    display: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

.arrow-up img {
    color: #fff;
    margin: 0;
    position: relative;
    left: 15px;
    top: 12px;
    font-size: 19px;
    transition: all 0.3s ease;
    width: 20px; 
}

.arrow-up:hover {
    background: rgba(0, 0, 0, 0.8);
}
.arrow-up:hover img {
    color: #fff;
    top: 5px;
}

/*--------------------------------------------
PÁGINA CONHEÇA */

.historia {
    background-color: #86A873;   
    padding: 80px 0;
}

.conheca-card {
    background-image: url('../img/arms-beach-blur-428325.jpg');
    background-size: cover;
    padding: 80px 0 0 0;
    border-radius: 0;
}
.conheca-card > .container > .row {
    padding-bottom: 80px;
}

.conheca-card-itens {
    background-color: #d7c9aa;
    text-align: center;
    color: black;
}

.card-body > h5 {
    text-transform: uppercase;
    font-weight: bold;
}

/*--------------------------------------------
PÁGINA VIAJE */

.viagem {
    background-image: url('../img/foto3.png');
    background-size: cover;
    /* background-attachment: fixed; */
    min-height: 500px;
}

.viagem-title,
.capa-title {
    font-family: 'Bree Serif', serif;
    font-size: 5em;
    max-width: 70%;
    line-height: 120%;
    color: white;
    padding-top: 200px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    }

.viaje-card {
    background-color: #0b7a75;
    padding: 80px 0 0 0;
    border-radius: 0;
}
.viaje-card > .container > .row {
    padding-bottom: 80px;
}

.viaje-card-itens {
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    color: black;
}

.viaje-card-itens >
.card-body >
.btn {
    background-color: #7b2d26;
    border-color: #7b2d26;
    border-radius: 2.25rem;
    padding: 0.375rem 1.75rem;
}

.viaje-card-itens >
.card-body >
a {
    text-transform: uppercase;
}

.reserva {
    padding: 50px 0;
    background-color: #d7c9aa;
    text-align: center;
    position: relative;
}

.reserva .container .row p{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8em;
    font-family: 'Bree Serif', serif;
}

.reserva .container .row a {
    background-color: #7b2d26;
    border-color: #7b2d26;
    border-radius: 2.25rem;
    padding: 0.375rem 1.75rem;
    text-transform: uppercase;
    font-size: 1.2em;
}

#modal {
    background-color: rgba(121,48,39,0.9);
    padding: 0px 35px 0px 25px;
    display: none; 
    position: absolute;
    margin: auto;
    height: 35em;;
    width: 50em;;
    align-content: space-around;
    border-radius: 20px;
    text-align: left;
    left: 25%;
    top: 220%;
    box-shadow: 0px 0px 26px 4px rgba(0,0,0,0.39);
    /* transform: translate3d(-50%, -50%, 0); */
}

#modal > form {
    color: white;
    padding-top: 10px;
}

#modal > form > h4 {
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 1em;
}

.btn-reservar {
    margin-top: 1em;
    background-color: #0b7a75;
    border: none;
}

.btn-reservar:hover {
    background-color: #0b7a75;
    border: none;
}

#fecharModal {
    text-align: right;
    color: white;
    padding: 5px;
    font-weight: bold;
}


#modal.visivel {
    display: block;
}

#fecharModal {
    cursor: pointer;
}

/*--------------------------------------------
PÁGINA BLOG */

.blogCapa {
    background-image: url('../img/capa_blog.jpeg');
    background-size: contain;
    /* background-attachment: fixed; */
    min-height: 500px;
}

#blog {
    background-color: #F0F3F5;
}

#blog >.container {
    padding-top: 1rem;
}

h3 {
    font-size: 1.5em;
    padding: 8em 0;
}

.textoDiv {
    font-size: 12px;
}

.h2 {
    font-size: 12px;
}



