/* PRINCIPAIS */
* {
    box-sizing: border-box;
  }

body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Barlow', sans-serif;
}

/* NAV BAR */

nav {
    background-color: #19535F;
    min-height: 15vh;
    text-transform: uppercase;
}

nav > div > a > img {
    width: 350px;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    text-decoration: none;
}

.navbar-dark .navbar-nav .nav-link:hover {
    background-color: #7b2d26;
    
}

/* FOOTER */

footer {
    background-color: #7b2d26;
}

footer > .container > .row {
    align-items: center;
}

ul {
    margin-bottom: 0;
}

ul > li {
    list-style: none;
    text-transform: uppercase;    
}

ul > li > a{
    color: white;
    text-decoration: none;
}

ul > li > a:hover{
    color: white;
    text-decoration: none;
}

.footer-img > img {
    width: 45px;
    padding-left: 10px;
}

.logo-footer> img {
    width: 250px;
    align-content: center;
}

.footer-1 {
    padding: 60px 0;
}

.footer-2 {
    padding: 15px 0;
    background-color: black;
}

.footer-2 > p {
    text-align: center;
    font-size: 0.9rem;
}
/*--------------------------------------------
PÁGINA INDEX */

/* CAROUSEL */

.carousel-caption {
    text-align: left;
    padding-bottom: 70px;
}

.carousel-caption > p {
    font-family: 'Bree Serif', serif;
    font-size: 5em;
    max-width: 70%;
    line-height: 120%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.carousel-caption > a{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 800; 
}

.carousel-caption > .btn {
    background-color: #7b2d26;
    border-color: #7b2d26;
    border-radius: 2.25rem;
    padding: 0.9rem 4rem;
}

/* MISSÃO */

.missao {
    background-color: #86A873;
    padding: 150px 0;
}

/* VALORES */

.valores {
    background-color: #F0F3F5;
    padding: 150px 0;
}

/* CARDS */

.home-card {
    background-color: #0b7a75;
    padding: 80px 0 0 0;
}
.home-card > .container > .row {
    padding-bottom: 80px;
}

.home-card-itens {
    background-color: #0b7a75;
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    color: white;
    padding: 50px 0;
}

.home-card-itens > img {
    width: 80px;
    margin-left: 40%;
}

/*--------------------------------------------
PÁGINA CONHEÇA */

.historia {
    background-color: #86A873;   
    padding: 80px 0;
}

.conheca-card {
    background-image: url('../img/arms-beach-blur-428325.jpg');
    background-size: cover;
    padding: 80px 0 0 0;
    border-radius: 0;
}
.conheca-card > .container > .row {
    padding-bottom: 80px;
}

.conheca-card-itens {
    background-color: #d7c9aa;
    text-align: center;
    color: black;
}

/*--------------------------------------------
PÁGINA VIAJE */

.viagem {
    background-image: url('../img/foto3.png');
    background-size: cover;
    background-attachment: fixed;
    min-height: 500px;
}

.viaje-card {
    background-color: #0b7a75;
    padding: 80px 0 0 0;
    border-radius: 0;
    position: relative;
}
.viaje-card > .container > .row {
    padding-bottom: 80px;
}

.viaje-card-itens {
    background-color: #d7c9aa;
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    text-align: center;
    color: black;
}

.viaje-card-itens >
.card-body >
.btn {
    background-color: #7b2d26;
    border-color: #7b2d26;
    border-radius: 2.25rem;
}

#modal {
    background-color: rgba(121,48,39,0.9);
    padding: 0px 35px 0px 25px;
    display: none; 
    position: absolute;
    margin: auto;
    height: 35em;;
    width: 50em;;
    align-content: space-around;
    border-radius: 20px;
    text-align: left;
    left: 25%;
    top: 130%;
    /* transform: translate3d(-50%, -50%, 0); */
}

#modal > form {
    color: white;
    padding-top: 10px;
}

#modal > form > h4 {
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 1em;
}

.btn-reservar {
    margin-top: 1em;
    background-color: #0b7a75;
    border: none;
}

.btn-reservar:hover {
    background-color: #0b7a75;
    border: none;
}



#fecharModal {
    text-align: right;
    color: white;
    padding: 5px;
    font-weight: bold;
}


#modal.visivel {
    display: block;
}

#fecharModal {
    cursor: pointer;
}


/*--------------------------------------------
PÁGINA BLOG */



